*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: #BFFBF5;
}
.center{
    text-align: center;
    padding: 10px;
    background-color: blueviolet;
    color: white;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProfilCard {
    width: 600px;
    padding: 10px 20px;
    background-color: #D6EEFB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 30px; 
    display: flex;
}
.name{
    color: #0C0C16;
}

.main-detalis{
    margin-left: 40px;
    padding: 10px;

}
.me-img img{
   width: 110px;
   height: 110px;
   object-fit: cover;
    border-radius: 50%;
    margin-top: 30px;
}
.name{
    font-size: 15px;
}
.name , .email , .age , .skill , .Address , .hobby ,.eduction{
    padding: 10px 0px;
}
.number{
    padding: 10px 0px;
}
.email {
    font-size: 15px;
}
span{
    font-size: 25px;
    color: black;

}
.skill {
    font-size: 18px;
    text-wrap: balance;

}
.Address {
    font-size: 30px;
}
.eduction{
    font-size: 18px;
}
